footer {
    margin-top: 10vmax;
    padding: 2vmax;
    background-color: rgb(34, 33, 33);
    /* background-color: #A8A4CE; */
    color: white;
    display: flex;
    align-items: center;
}

.leftFooter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftFooter>h4 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.leftFooter>p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.leftFooter>img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}

.midFooter {
    width: 60%;
    text-align: center;
}

#logo {
    /* size: 2px; */
    max-width: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #6D2677;
}