.banner {
    /* background-image: linear-gradient(to right, #355C7D, #6C5B7B, #C06C84); */
    background-image: linear-gradient(to right, #cbb4d4, #20002c);
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner>h1 {
    margin: 5vmax;
    font: 600 2.5vmax "Roboto";
}

.banner>p {
    font: 300 1.4vmax "Lucida Sans"
}

.banner>a>button {
    background-image: linear-gradient(to right, #1e130c 0%, #9a8478 51%, #1e130c 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.banner>a>button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


/* .banner>a>button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
} */

.banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
}

.homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
}


/* Editing the container class that holds the product card */

.container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard>img {
    width: 14vmax;
}

.productCard>div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
}

.productCard>div>span {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
}

.productCard>p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}


/* price */

.productCard>span {
    margin: 0.5vmax;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
}


/* Hover effect over product card */

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
}


/* Responsive mobile */

@media screen and (max-width: 600px) {
    .productCard>p {
        font-size: 1.7vmax;
    }
    .productCard>div {
        margin: 0vmax;
        display: block;
    }
    .productCard>span {
        font-size: 1.5vmax;
    }
    /* Reviews */
    .productCard>div>span {
        margin: 0 0.5vmax;
        font: 300 1vmax "Roboto";
    }
}